{%  extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="container nt-5">
    <h1>{{ article.title }}</h1>

    <div class="alert alert-info">
        <h2>{{ article.text }}</h2>
        <p><b>Sana: {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/del" class="btn btn-danger">O'chirish</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-success">Tahrirlash</a>
    </div>
</div>

{% endblock %}
     